// Clearfix

@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

// Usage

// SCSS

// .container {
//     @include clearfix;
// }

// CSS Output

// .container::after {
//     clear: both;
//     content: "";
//     display: table;
// }
