// Ellipsis

@mixin ellipsis {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// Usage

// SCSS

// .title {
//     @include ellipsis;
// }

// CSS Output

// .title {
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     display: block;
// }
