@import '../../node_modules/coriolan-ui/mixins/clearfix';

$sidebarWidth: 180px;

.post {
    padding: 10px 10px 30px;
    max-width: 666px;
    margin: 0 auto;
    text-align: left;
    @include clearfix;

    &__title {
        float: left;
        width: 100%;
    }

    &__sidebar {
        overflow: hidden;
        float: left;
        width: $sidebarWidth;
        position: fixed;
    }

    &__content {
        float: left;
        width: calc(100% - #{$sidebarWidth});
        margin-left: $sidebarWidth;

        h1 {
            margin-top: 0;
        }
    }
}
