// Body
$bodyBg: #ccc !default;
$bodyFont: 400 14px/1.3 Helvetica, Arial, sans-serif !default;
$bodyColor: #666 !default;

// Grid
$gridIndent: 8px !default;

// Breakpoint
$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
